* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
  height: 100%;
}

body {
  background-color: #1e1f21;
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  height: 100%;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button,
input[type="button"] {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
	background: #000;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
}

input[type=text],
textarea {
  width: 100%;
  background: black;
  border: 2px solid #333333;
  color: white;
  padding: 0.5rem;
}

.button-new {
  background-color: #079b2a;
  padding: 1rem;
  display: block;
  margin-left: auto;
}

/*
NAVIGATION
*/
.navbar-nav {
  list-style-type: none;
  visibility: hidden;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: all .25s ease-in-out;
}

.navbar-nav.active {
  visibility: visible;
  background-color: #333333;
  opacity: 1;
}

.navbar-nav li {
  text-align: center;
  margin: 0px auto;
  padding: 15px;
}

.nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
}

/* Hamburger menu from https://codepen.io/samikeijonen/pen/jqvxdL */
.menu-toggle {
  font-size: 0.875em;
	padding: 1em;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer; 
  color: rgba(255,255,255,0.8);  
  background-color: #333333;
  z-index: 9;
}

.menu-toggle:focus {
	outline: thin dotted;
  outline-offset: -2px;
}

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	width: 1em;
	vertical-align: middle;
	position: relative; /* Align more nicely with capital letters */
	top: -0.0625em;
}

/* Menu toggle styles. */

.icon-menu-toggle {
	width: 2em;
	height: 2em;
  top: 0;
}

/* Animate menu icon (lines). */
.svg-menu-toggle .line {
  opacity: 1;
  transform: rotate(0) translateY(0) translateX(0);
  transform-origin: 1em 1em;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.svg-menu-toggle .line-1 {
  transform-origin: 1em 2.5em;
}
.svg-menu-toggle .line-3 {
  transform-origin: 1em 4.5em;
}

.menu-toggle.opened .svg-menu-toggle .line-1 {
  transform: rotate(45deg) translateY(0) translateX(0);
}
.menu-toggle.opened .svg-menu-toggle .line-2 {
  opacity: 0;
}
.menu-toggle.opened .svg-menu-toggle .line-3 {
  transform: rotate(-45deg) translateY(0em) translateX(0em);
}

/*
PAGE STRUCTURE
*/

.container {
  display: flex;
  flex-direction:column;
  min-height: 100%;
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;        
}

@media only screen and (min-width: 576px){
  .container {
    max-width: 540px;
    width: auto;
  }
}

@media only screen and (min-width: 768px){
  .container {
    max-width: 650px;
  }
}

@media only screen and (min-width: 992px){
  .container {
    max-width: 860px;
  }
}

@media only screen and (min-width: 1200px){
  .container {
    max-width: 1080px;
  }
}

#display {
  flex: 8 0 auto;
}

@media only screen and (max-width: 700px){
  #display {
    margin-top: 5rem;
  }
}

#settings {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#input {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
}

/*
DISPLAY SECTION
*/
.display-message {
  white-space: pre-wrap;
  background-color: #b8ecfc;
  color: black;
  margin: 0.5em 0;
  padding: 0.5em;
  width: 70%;
  word-wrap: break-word;
  overflow-wrap: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.right {
  margin-left: auto;
}

/*
SETTINGS SECTION
*/
.checkbox-label {
  margin: 0;
}

.range {
  width: 30%;
}

.range-input {
  width: 100%
}

.setting {
  margin-bottom: 0.5rem;
}

/* Switch from https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  flex: 0 0 auto;
  margin: 0.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "L";
  text-align: center;
  color: black;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  content: "R";
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* range  from https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
input[type=range] {
  -webkit-appearance: none;
  margin: 2px 0;
  width: 100%;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #cccccc;
  border-radius: 3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #2196F3;
  height: 13px;
  width: 13px;
  border-radius: 8px;
  background: #2196F3;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #cccccc;
  border-radius: 3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #2196F3;
  height: 13px;
  width: 13px;
  border-radius: 8px;
  background: #2196F3;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 13px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #cccccc;
  border: 0.2px solid #010101;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  border: 1px solid #2196F3;
  height: 13px;
  width: 13px;
  border-radius: 8px;
  background: #2196F3;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #cccccc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/*
INPUT SECTION
*/

#message-input {
  width: 70%;
  min-height: 5rem;
  background-color: black;
  color: white;
  border: 2px solid #333333;
  box-sizing: border-box;
  
}

.button-send {
  font-size: 1.5rem;
  width: 30%;
  background-color: #2196F3; 
  
}
